@rojo:       #c8102e;   
@rojo-dark:  #a00d24;   
@negro:      #0d0d0d;   
@negro2:     #1a1a1a;   
@blanco:     #ffffff;
@gris:       #aaaaaa;   
@gris-borde: #2e2e2e;  


@font-titulo: 'Bebas Neue', sans-serif;
@font-cuerpo: 'Inter', sans-serif;


@radio:      6px;
@transicion: all 0.2s ease;